{{> layout/header}}

<div class="container p-5">
    <div class="card">
        <div class="card-header"><b>익명 글수정 화면입니다</b></div>
        <div class="card-body">
            <form action="#">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="" id="author">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="" id="title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" id="content"></textarea>
                </div>
                <button type="button" onclick="btnUpdate()" class="btn btn-primary form-control">수정</button>
            </form>
        </div>
    </div>
</div>
<script>
    function btnUpdate(){
        let board ={
            title: $("#title").val(),
            content: $("#content").val(),
            author: $("#author").val()

        };
       alert("board: "+board)

        let boardJson = JSON.stringify(board);//
      alert("boardJson: "+boardJson)

        $.ajax({
            url : `/api/boards/{{board.id}}`,
            type : "put",
            data : JSON.stringify(board), //자바스크립트와 자바를 오가는 거 json 통신해야하기 때문이다
            contentType : "application/json; charset=utf-8"
        }).done((res)=>{
            location.href="/";
        }).fail((res)=>{
            alert(res.responseJson.msg);

        });
    }

</script>

{{> layout/footer}}